* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #336b91;
  height: 100px;
  padding-top: 2vh;
  font-size: 25px;
  color: #c38c1f;
  justify-content: center;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Alice", Arial, Helvetica, sans-serif;
}

body {
  max-width: 60vw;
  justify-content: center;
  margin: auto;
  font-family: "Roboto Condensed", "Raleway", Helvetica, sans-serif;
}
nav {
  display: flex;
  background-color: #002952;
  height: 6vh;
  align-items: center;
  justify-content: space-around;
}
main {
  justify-content: center;
}

h3 {
  padding-top: 5vh;
  padding-bottom: 2vh;
  font-size: 22px;
  text-align: center;
  color: #002952;
}

h4 {
  text-align: center;
  color: #002952;
  font-size: 18px;
}

p {
  margin: auto;
  width: 50vw;
  font-family: "Roboto Condensed", "Raleway", Helvetica, sans-serif;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #002952;
}

#colored-para {
  background-color: #ecf5f4;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #ecf5f4;
  font-size: 25px;
}

h2 {
  padding-top: 2vh;
  text-align: center;
  font-size: 28px;
  color: #c38c1f;
}

.color-palette {
  height: 14vh;
  width: 40vw;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.primary {
  background-color: #002952;
  color: white;
}

.secondary {
  background-color: #336b91;
  color: white;
}

.accent1 {
  background-color: #c38c1f;
}

.accent2 {
  background-color: #ecf5f4;
}

img {
  padding: 3vh;
  display: block;
  margin: auto;
  justify-content: center;
  max-width: 60vw;
}

header h4 {
  color: white;
  font-size: 24px;
  margin: auto;
}

header img {
  padding: 0;
  position: absolute;
}
