@media screen and (min-width: 601px) {
  nav {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
  }
  nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding-top: 1rem;
    border-bottom: gold solid 3px;
  }
  nav a:hover {
    border-bottom: gold solid 10px;
  }

  #navbar {
    display: flex;
  }

  #hero img {
    min-width: 100vw;
    height: auto;
  }

  #events div {
    display: block;
    background: #336b91;
    color: white;
    font-family: Helvetica, sans-serif;
    border-radius: 1rem;
    line-height: 1.5rem;
  }

  #ham-button {
    display: none;
  }

  #events div img {
    max-width: 400px;
    height: auto;
  }

  #events {
    display: flex;
    flex-wrap: nowrap;
  }

  #events div p {
    max-width: 600px;
  }

  #main-discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #main-discover #hero {
    grid-column: 1/3;
  }
  #sidebar {
    grid-column: 1/2;
    position: sticky;
    top: 0;
    height: 1800px;
  }
  #main-area {
    grid-column: 2/3;
  }

  #join {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #requirement {
    grid-column: 1/3;
  }
  #join-heading {
    grid-column: 1/3;
  }

  #mem-benefit {
    background-color: wheat;
    width: 80%;
    height: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 0;
  }

  #mem-benefit h3 {
    font-size: 30px;
  }

  .benefit-info {
    background-color: #4a9ff3ae;
    margin-top: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .benefit-info:nth-of-type(2) {
    background-color: #d48b41;
  }
  .benefit-info:nth-of-type(3) {
    background-color: #c0c0c0;
  }

  .benefit-info:nth-of-type(4) {
    background-color: gold;
  }

  /* Chamber Directory */
  .large {
    visibility: visible;
    font-size: 1.2rem;
    height: 400px;
    width: 80%;
    margin: 50px auto;
  }
  .small {
    visibility: collapse;
  }

  @media screen and (max-width: 1200px) {
    #events {
      display: grid;
      grid-template: 1fr 0.5fr / 1fr 1fr;
      justify-content: center;
    }

    #events div {
      display: grid;
      gap: 10px;
    }

    .third {
      grid-column: 1/3;
      display: grid;
      grid-template: 0.4fr 1fr/1fr 1fr;
    }
    .third h3 {
      grid-column: 1/3;
    }
    .third picture {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    .third p {
      grid-row: 2/3;
      grid-column: 2/3;
      padding: 1rem;
    }
  }
}
