header {
  display: flex;
  background-color: #336b91;
  color: #ecf5f4;
}
#profilepic {
  border-radius: 80px;
  margin: 2vw;
  height: 100%;
  z-index: 3;
}
#hero img {
  width: 100%;
  height: auto;
}
#hero {
  position: relative;
  justify-content: center;
  align-items: center;
}

#banner-label {
  position: absolute;
  top: 5%;
  left: 2%;
  justify-content: center;
  background-color: #6fabeb95;
}

#banner-label h2 {
  text-align: center;
  text-decoration: none;
}

h1 {
  font-family: "Baumans", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  font-size: 35px;
}
#page h2 {
  border-bottom: 0.2vh solid gray;
  text-align: center;
}
body {
  font-family: "Raleway", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}

nav a {
  width: 100%;
}

h3,
nav a {
  display: block;
  padding: 1vh;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  color: white;
  z-index: 2;
}
nav a:hover {
  background-color: grey;
  color: #ffdd43;
  font-family: "Alice", "Raleway", "Gill Sans", "Gill Sans MT", "Trebuchet MS";
}

.card label,
.info,
footer {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

section h3 {
  background-color: #336b91;
  border-top-right-radius: 1.5vh;
  border-top-left-radius: 1.5vh;
  color: white;
}
li {
  list-style-type: none;
}

.info,
ul {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 30vh;
  border: 0.2vh solid #336b91;
  margin-top: -30px;
  border-bottom-right-radius: 1.5vh;
  border-bottom-left-radius: 1.5vh;
  padding-top: 20px;
}

.info {
  min-height: 20vh;
  text-align: center;
}

footer {
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  min-height: 150px;
  background-color: #002952;
  align-items: center;
  color: white;
  position: relative;
  bottom: 0rem;
}

footer span {
  display: block;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer p {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

ul {
  display: grid;
  min-height: 250px;
}

.card a {
  color: rgb(13, 38, 225);
  font-size: 18px;
  font-weight: bolder;
}

main #page {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  min-height: 60vh;
}

iframe {
  width: 100%;
  height: 400px;
}

#country {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 150px;
}

footer #lastModified {
  color: white;
  font-size: 2.5vw;
  font-weight: 200;
  justify-content: center;
}

#menu {
  position: absolute;
  right: 1rem;
  top: 6rem;
  font-size: x-large;
  font-weight: bolder;
  width: 50px;
  color: #002952;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

#navbar {
  display: none;
}

#navbar.show {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #002952;
}

#mode {
  position: absolute;
  right: 1rem;
  top: 10rem;
  min-width: 80px;
  font-weight: 800;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

#mode::before {
  content: "Dark";
  color: Black;
}

#mode.activate::before {
  content: "Light";
  color: black;
  background-color: white;
}

main.activate {
  background-color: black;
  color: white;
  margin-bottom: 0;
}

main.activate label {
  color: white;
}

main.activate p {
  color: white;
}

main.activate a {
  color: white;
}
